<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="#">CoinMain</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" >{{user.name}} </a>
    </div>
    <div  class="text-right navbar-nav">
      <a class="nav-item nav-link active" >Balance: {{balance | currency}}</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/sign-in"> <button class="btn btn-danger">Logout </button></a>
    </div>
  </div>
</nav>
