.page-login {
  min-height: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
}

.logMInLogin {
  position: absolute;
  margin-top: 8px;
}
.logMInLog {
  margin-top: 8px;
}
.logBarReg {
  padding-left: 20px;
  font-size: 14pt;
  line-height: 3;
  color: white;
  border-left: 1px solid white;
  margin-left: 14px;
  padding-bottom: 30px;
}
.logBarReg, ::-webkit-input-placeholder, ::-moz-placeholder , :-ms-input-placeholder , :-moz-placeholder, input , .check, .regisr  , .wordOr, .no, .error {
  font-family: LatoRegular, serif;
}
.form {
  padding-top: 0 ;
  display: block;
  text-align: center;

}
.ofForm {
  border-radius: 5px;
  background: white;

}
.inputs {
  padding-top: 35px ;
}

#username, #password  {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: transparent!important;
  background-clip: padding-box;
  border-left: 0!important;
  border-right: 0!important;
  border-radius: 0 !important;
}

#username input[type="text"] {
  position: relative;
}


#username:after {
  font-family: 'FontAwesome', serif;
  color:red;
  position: relative;
  left: -5px;
  content: "\f007";
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -40px;
  position: relative;
  z-index: 2;
  right: 15px;
}
::-webkit-input-placeholder, ::-moz-placeholder , :-ms-input-placeholder , :-moz-placeholder  {
  color:#ababab;
  font-size: 12pt;
}

input {
  color:black;
  font-size: 14pt;
}
.fa-fw {
  font-size: 20px;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {

  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #ccc;
  /* background: #fff; */
  /* border-radius: 4px; */
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);

}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0.01em;
  left: 0.05em;
  font-size: 1.7em;
  line-height: 0.7;
  color: #e82169;
  transition: all .2s;
  font-family: Helvetica, Arial, sans-serif;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
.check {
  text-align: left;
  display: inline-block;
  font-size: 10pt;
  color: #969696;
}
.log , .check{
  padding-left: 20px;
  padding-right: 20px;
  padding-top:20px ;
}
.join_now {
  margin-top: 20px;
  background-color: #e82169;
  color:white !important;
  border-radius: 2px;
  font-size: 12pt !important;
  font-family: LatoBold, serif;
  padding: 10px 35px !important;
  border: 0;
}
.join_now:hover {
  cursor: pointer;
}
.regis {
  margin-top: 22px;
}
.no {
  font-size: 14pt;
  color: black;
}
.re {
  padding: 15px 6px;
}
.regisr {
  font-size: 14pt;
  color: #e82169;
  text-decoration: underline;
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under;
  outline: none;
}
.regisr:hover {
  cursor: pointer;
}
.or {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  position: relative;
  border-top: 1px solid #f0f0f0;
}

.wordOr {
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  display: inline-block;
  position: absolute;
  z-index: 12;
  top: -15px;
  border: 0;
  font-size: 14pt;
}
.images {
  padding-top: 7%;
}
.images img:nth-child(2){
  margin-left: 4%;
}
.images img:nth-child(3){
  margin-left: 4%;
}
.error {
  padding-top: 9%;
  font-size: 14pt;
  color: #a31212;
  margin-left: 4%;
  margin-right: 4%;
}
.allLOgin {
  padding-bottom: 12%;
}
.forgot {
  font-size: 14pt;
}
.forgot:hover {
  cursor: pointer;
}
button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: white;
}
.social_min_hov:hover {
  cursor: pointer;
}
.social_min_hov:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 50%;
}

.social_min_hov{
  border-radius: 50%;
  margin-top: 0;
  display: inline-block;
}
@media only screen and (min-width: 0px) and (max-width: 991px) {
  /* Styles */
  .social_min_hov {
    padding: 3px 0;
  }
  .join_now {
    margin-top: 0;
  }
  .logoInForm {
    padding-top: 17px;
  }
  .logonewLod {
    position: absolute;
    padding-top: 10px;
  }
  .logBarReg {
    margin-left: 100px;
    line-height: 0;
  }
  .logMInLogin {
    position: absolute;
    margin-top: 6px;
    padding-top: 22px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 374px) {
  .logMInLogin {
    font-size: 9pt;
  }
}
