<app-header></app-header>
<div class="mt-5 container">
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Asset Code</th>
    <th scope="col">Asset Name</th>
    <th scope="col">Transaction Fee</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let binanc of listBInance | paginate: { id: '65', itemsPerPage: 15, currentPage: p, totalItems: total }; let i = index;">
    <td>{{i}}</td>
    <td>{{binanc.assetCode}}</td>
    <td>{{binanc.assetName}}</td>
    <td>{{binanc.transactionFee | currency}}</td>
  </tr>
  </tbody>
</table>
  <div class="text-center">
    <pagination-controls
      id="65"
      (pageChange)="p = $event"
      maxSize="8"
      directionLinks="true"
      autoHide="true"
      responsive="false"
      previousLabel=""
      nextLabel=""
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
</div>

